.heading
{
    font-size: 23px;
    width:100%;
    margin:0px;
    box-shadow: 5px 5px 5px blue;
    background-color: blueviolet;
}
.note
{
    font-size: 15px;
    color:aqua;
    background-color: blueviolet;
}
.copy_right_footer
{
    position:fixed;
    color:rgb(165, 254, 224);
    bottom:0;
    width:100%;
    background-color: blueviolet;
    line-height: 3;
    text-align: center;
}
canvas {
    border: 5px solid white;
    border-radius:20px;
    box-shadow: 5px 5px 5px black;

}
body{
    background-size: cover;
    background-position: center;
}